@import "tailwindcss";

html {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: "Yu Mincho", "STSong", "华文宋体", serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: var(--md-bg);
  overflow: auto;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;
  overflow: auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #dfdfdf59 #2d2d36;
}